### Maven template
target/

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion
*.iml
.idea/
*.ipr
*.iws

### Eclipse template
.classpath
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
.settings/
.loadpath

### OS specifics
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

### Java template
*.class
hs_err_pid*