---
# The name of your project
title: Spring Data Couchbase

badges:

  # Specify your project's twitter handle, if any. Delete if none.
  twitter: SpringData

  # Customize your project's badges. Delete any entries that do not apply.
  custom:
    - name: Source (GitHub)
      url:  https://github.com/spring-projects/spring-data-couchbase
      icon: github

    - name: Issues (JIRA)
      url:  http://jira.springsource.org/browse/DATACOUCH
      icon: tracking

    - name: CI (Bamboo)
      url:  https://build.springsource.org/browse/SPRINGDATACOUCH
      icon: ci

    - name: StackOverflow
      url:  http://stackoverflow.com/questions/tagged/spring-data-couchbase
      icon: stackoverflow

    # - name: Metrics (SonarQube)
    #   url:  https://sonar.springsource.org/dashboard/index/org.springframework.data:spring-data-couchbase
    #   icon: metrics

---
<!DOCTYPE HTML>
<html lang="en-US">

<!-- Specify the parent of this project (or delete if none) to influence the rendering of the breadcrumb -->
{% capture parent_link %}
[Spring Data]({{ site.projects_site_url }}/spring-data)
{% endcapture %}


{% capture billboard_description %}

Spring Data for [Couchbase](http://www.couchbase.com) is part of the umbrella 
Spring Data project which aims to provide a familiar and consistent Spring-based 
programming model for new datastores while retaining store-specific features and 
capabilities.

{% endcapture %}

{% capture main_content %}

The Spring Data Couchbase project provides integration with the Couchbase Server 
database. Key functional areas of Spring Data Couchbase are a POJO centric model 
for interacting with Couchbase Buckets and easily writing a Repository style data 
access layer.

## Features

* Spring configuration support using Java based @Configuration classes or an XML namespace for the Couchbase driver.
* CouchbaseTemplate helper class that increases productivity performing common Couchbase operations. Includes integrated object mapping between documents and POJOs.
* Exception translation into Spring's portable Data Access Exception hierarchy.
* Feature Rich Object Mapping integrated with Spring's Conversion Service.
* Annotation based mapping metadata but extensible to support other metadata formats.
* Automatic implementation of Repository interfaces including support for custom finder methods (backed by Couchbase Views).
* JMX administration and monitoring
* Transparent @Cacheable support to cache any objects you need for high performance access.

<span id="quick-start"></span>
## Quick Start

{% include download_widget.md %}

## Configuration
```java
package foo;

import foo;

@Configuration
@EnableCouchbaseRepositories
public class Config extends AbstractCouchbaseConfiguration {

    @Override
    protected List<String> bootstrapHosts() {
        return Arrays.asList("host1", "host2");
    }

    @Override
    protected String getBucketName() {
        return "default";
    }

    @Override
    protected String getBucketPassword() {
        return "";
    }
}
```

## Sample Repository
```java
public interface UserRepository extends CrudRepository<User, String> {

    /**
     * Additional custom finder method.
     */
    List<User> findByLastname(Query query);

}
```

## Usage
```java
@Service
public class MyService {

    private final UserRepository userRepository;

    @Autowired
    public MyService(UserRepository userRepository) {
        this.userRepository = userRepository;
    }

    public void doWork() {
        userRepository.deleteAll();

        User user = new User();
        user.setLastname("Jackson");

        user = userRepository.save(user);

        Query query = new Query();
        query.setKey(ComplexKey.of("Jackson"));
        List<User> allUsers = userRepository.findByLastname(query);

    }
}
```

Note that to back the custom finders, you need to set up two Views on the server:

For `findByLastname`:

```javascript
function (doc, meta) {
  if(doc._class == "com.example.entity.User" && doc.firstname) {
    emit(doc.firstname, null);
  }
}
```

For `findAll` and `count` (also add a reduce `_count`):

```javascript
function (doc, meta) {
  if(doc._class == "com.example.entity.User") {
    emit(null, null);
  }
}
```

{% endcapture %}

{% capture related_resources %}

### Announcements

* [1.0 RC1](http://spring.io/blog/2014/02/06/spring-data-couchbase-1-0-rc1-released)
* [1.0 M2](http://spring.io/blog/2013/11/18/spring-data-couchbase-1-0-m2-released)
* [1.0 M1](http://spring.io/blog/2013/09/12/spring-data-couchbase-1-0-m1-and-spring-data-solr-1-0-ga-released)

{% endcapture %}

{% include project_page.html %}
</html>
